.projectsSection {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .projectTitle {

      }
      .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
