* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

h2 {
  color: rgb(6, 0, 63);
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.active {
  display: block !important;
  z-index: 6 !important;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: fixed;
  display: none;
}

.scrolled {
  background-color: rgb(227, 243, 248) !important;
}

body {
  background-color: rgb(215, 233, 240);
}

.header {
  width: 100%;
  padding: 15px 0 15px;
  position: fixed;
  z-index: 10;
  background-color: rgba(65, 94, 107, 0.5);
  box-shadow: 0 0 12px lightblue;
  transition: background-color 0.4s ease-in-out;
}
.header .container .row {
  justify-content: space-around;
}
.header .container .row .logo a .logoIcon img {
  width: 100px;
  box-shadow: 0 0 5px 5px lightblue;
  border-radius: 10px;
}
.header .container .row .nav .navList {
  height: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.header .container .row .nav .navList .navListItems :hover {
  color: rgb(6, 0, 63);
  text-shadow: 0 0 12px lightblue;
  transition: 0.3s;
  font-size: 21px;
  font-weight: 1000;
}
.header .container .row .nav .navList .navListItems a {
  color: rgb(1, 1, 75);
  font-size: 20px;
}
.header .container .row .navRight .pp {
  padding-right: 100px;
}
.header .container .row .navRight .pp img {
  width: 50px;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px lightblue;
}
.header .container .row .navRight .card {
  background-color: rgb(45, 148, 173);
  margin-left: -90px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  display: none;
  text-shadow: 0 0 12px lightblue;
  box-shadow: 0 0 10px 10px lightblue;
  position: absolute;
}
.header .container .row .navRight .card .iconList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.header .container .row .navRight .card .iconList .iconListItems img {
  width: 45px;
  border-radius: 50px;
}

.homeSection {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.homeSection .container .row {
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.homeSection .container .row .title {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.homeSection .container .row .title h1 {
  color: rgb(6, 0, 63);
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  font-size: 50px;
}
.homeSection .container .row .title p {
  color: rgb(6, 0, 63);
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  font-size: 40px;
}
.homeSection .container .row .picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.homeSection .container .row .picture img {
  width: 400px;
  border-radius: 50px;
  box-shadow: 0 0 10px 10px lightblue;
}

.projectsSection {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}
.projectsSection .container .row {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.projectsSection .container .row .swiper {
  width: 100%;
  height: 100%;
}
.projectsSection .container .row .swiper .swiper-slide img {
  width: 100%;
}

.aboutSection {
  background-image: url(../images/about_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.aboutSection .container .row {
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.aboutSection .container .row .aboutContent {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 300px;
}
.aboutSection .container .row .aboutContent .aboutImg img {
  width: 400px;
  border-radius: 50px;
  box-shadow: 0 0 10px 10px lightblue;
}
.aboutSection .container .row .aboutContent .tab {
  width: 500px;
}
.aboutSection .container .row .aboutContent .tab .tabName {
  text-align: center;
  float: left;
  padding: 5px 10px 5px 10px;
  background: #3ea8eb;
  color: #ffffff;
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  border: #126497 2px solid;
  cursor: pointer;
}
.aboutSection .container .row .aboutContent .tab :hover {
  box-shadow: 0 0 10px 10px lightblue;
  color: #126497;
  transition: 0.3s ease-in-out;
}
.aboutSection .container .row .aboutContent .tab .tabContent {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px 10px lightblue;
  border-radius: 10px;
  display: none;
  background-color: rgb(45, 148, 173);
}/*# sourceMappingURL=main.css.map */